[2016-04-27 16:42] methylene opened #1 "Initial screen freeze and hang"
Compiling it was a breeze, but when runnings `ls -l | bin/nms` it gets stuck after printing the initial screen line by line.

Somehow github can't attach a .png so I'll paste the contents of the frozen screen below.
[code]

[2016-04-27 17:06] bartobri commented on #1
Thanks for the feedback. I assume you pressed a key and it was still hung? If so, what system and you running it on?

[2016-04-27 17:12] methylene commented on #1
Yes, I pressed CRTL-C, but as I've now learned, any other key will start the animation. Thank you! Is there also an option to run it automatically, without the extra key press?

[2016-04-27 17:14] bartobri commented on #1
Okay, glad it is working. No I didn't make an option for it to start automatically, but that is simple enough to do so I may add that feature. In the movie clip, however, they press a key to start the "decryption" sequence. So that is why I built it that way.

[2016-04-27 17:14] #1 closed

[2016-04-27 18:32] jakimfett opened #2 "Feature request: command line options"
I'd like to request the ability to skip the pauses (as mentioned [here](https://github.com/bartobri/no-more-secrets#using-the-standalone-executable) when executing the program via a command line flag, eg `cat somefile.txt | bin/nms --no-pause`.

[2016-04-27 18:42] bartobri commented on #2
Hi and thanks for the interest. So I have two pauses. The first one can possibly be skipped (maybe making it sleep for a second or two for effect), but the second pause is necessary for the user to actually read what the text says, otherwise it would immediately disappear after displaying. And in the case of displaying a menu, the pause is necessary to get user input.

[2016-04-27 21:00] jakimfett commented on #2
Ah, good point. Would it be possible to add a flag for just the first pause, so that text is displayed garbled, then immediately run through the "decrypting" effect?

A bit about what I'm trying to do...I have an old style typewriter hooked up to a raspberry pi, running a shell script that activates one of the GPIO pins when the correct key phrase is typed in. When incorrect input is typed in, the

[2016-04-27 21:06] bartobri commented on #2
Skipping the first pause via command line option should be pretty easy to do. I'll add that option when I have some time.

[2016-04-27 21:26] jakimfett commented on #2
Fantastic! Do you have a Patreon or Paypal donation option? I'd like to send you a bit of a financial "thank you", this is a really fun little utility!

[2016-04-27 22:38] bartobri commented on #2
Not necessary but thanks for the offer :)

[2016-04-27 22:47] andersfischernielsen opened #3 "Add project to homebrew"
Awesome project!

It'd be really cool to have it on homebrew, that'll make it easier to get for most people.

https://github.com/Homebrew/brew/blob/master/share/doc/homebrew/Formula-Cookbook.md

[2016-04-28 11:16] youRFate opened #6 "Segfaults when input is piped from non-existant program"
When I call a command that does not exist and pipe it's non existant output into nms it will segfault. Sample output:

[code]
Afterwards zsh behaves weirdly, indenting some output seemingly at random.

Some info:
x86_64
arch linux,
gcc 5.3.0,
zsh 5.2,
ncurses 6.0

[2016-04-28 12:46] jdbevan opened #7 "Doesn't handle non-ascii input characters?"
Firstly, this is awesome 👍 :)

I cloned and compiled it fine on my MacBook Pro running OS X 10.10.5.

Then I ran `tree | bin/nms` and it looked great, then I pressed "any key" and once it had finished "decoding" I got the following output:

<img width="183" alt="screen shot 2016-04-28 at 13 34 24" src="https://cloud.githubusercontent.com/assets/1391574/14886047/a74f44fc-0d46-11e6-8610-4e0711ffca2f

[2016-04-28 12:47] tuanhtrng opened #8 "does not work properly with non-english locale"
I am using Vietnamese locale on this machine and nms fails to render some characters.

[2016-04-28 15:20] kryptonianson commented on #2
I would like the ability to set the speed of the "decryption" process on the command line. It is a bit too slow for me.

[2016-04-28 15:50] shaneog commented on #2
Rather than `--no-pause`, how about `--auto-decrypt` for clarity?

[2016-04-28 19:07] jakimfett commented on #2
Works for me. I'm less concerned about *what* I type in, as long as it allows me to eliminate the pause.

@kryptonianson maybe open a new ticket for your additional, completely different, feature request?

[2016-04-28 19:42] bartobri commented on #6
Good catch! Looking in to this. Hopefully should have a fix soon.

[2016-04-28 20:01] bartobri commented on #6
This issue is fixed now via commit b34fc9bf.

[2016-04-28 20:01] #6 closed

[2016-04-28 23:45] shaunstanislaus opened #9 "anyway to make it not disappear/terminate?"
was wondering if there is anyway to make it not terminated after running it?

[2016-04-29 16:03] bartobri commented on #9
The screen clearing is an automatic function of ncurses. I do not see an option to disable it.

[2016-04-29 16:03] #9 closed

[2016-04-29 16:05] bartobri commented on #3
Thanks for the compliment!

If someone wants to add it to homebrew, that's cool with me. I don't think I'll have the time to do it myself though. Thanks for the suggestion!

[2016-04-29 17:58] stacybird commented on #3
Can the issue stay open since that way other folks can see this is work to be done, and pick it up?

https://github.com/Homebrew/brew/blob/master/share/doc/homebrew/Formula-Cookbook.md#basic-instructions

[2016-04-30 00:51] zi0r opened #12 "Tag a release"
Please tag a release for port maintainers!

[2016-04-30 14:35] MoritzFago commented on #12
also required for homebrew!

[2016-04-30 21:33] bartobri commented on #12
Okay, tagged a release: v0.1.0

Never tagged a release before so let me know if this is what you needed or if you need something else.

[2016-04-30 23:03] MoritzFago opened #13 "create basic website"
to be acceptable as a formula for homebrew `no-more-secrets` needs some kind of homepage, could you possible add a simple one? Just a simple gh-pages is enough.

[2016-04-30 23:04] MoritzFago commented on #3
the next step, after tagging a release is a homepage, like i mentioned in #13.

[2016-05-01 18:58] apjanke commented on #12
Looks good, and works for a Homebrew formula. I've submitted a PR for one. https://github.com/Homebrew/homebrew-core/pull/752

Hat tip to The Changelog Weekly for pointing me at this project. Very neat!

[2016-05-01 19:00] apjanke commented on #2
Could we also get a `-v` or `--version` to output the version number instead of doing the effect display? Would be useful for Homebrew or other packagers, where we like to do at least a trivial execution test to confirm the executable was built and linked correctly.

[2016-05-01 19:35] apjanke commented on #8
This is probably more about Unicode multibyte UTF-8 characters than locale/region per se. #7 looks like the same issue.

[2016-05-01 19:41] apjanke commented on #13
Nope. As long as you have a decent README or other documentation in the repo itself, the GitHub repo page can serve as a project's home page for Homebrew's purposes.

[2016-05-01 19:44] apjanke commented on #3
Hi! Homebrew maintainer here. I really dig this project, so I put in a formula PR for it myself. https://github.com/Homebrew/homebrew-core/pull/752

Normally Homebrew [requires a project repo to be at least a month old](https://github.com/Homebrew/brew/blob/master/share/doc/homebrew/Acceptable-Formulae.md), but for highly popular repos there can be exceptions. We'll probably make one here. Alterna

[2016-05-01 19:44] bartobri commented on #13
Okay good :) That would be my preference. I assume my README page is sufficient. Closing this issue. @MoritzFago Let me know if you have any concerns that merit reopening this issue.

[2016-05-01 19:44] #13 closed

[2016-05-01 19:47] apjanke commented on #3
...and you're in. Mac Homebrew users can now install No More Secrets with `brew update; brew install no-more-secrets`.

Glad to see the interest in Homebrew!

[2016-05-01 19:48] bartobri commented on #3
Thanks @apjanke !! Glad you like the project, and thanks for your time adding this to homebrew :)

I assume I can close this issue then. Let me know if I need to reopen it for whatever reason.

[2016-05-01 19:48] #3 closed

[2016-05-01 20:04] bartobri commented on #12
Successfully created tag. Closing this issue.

[2016-05-01 20:04] #12 closed

[2016-05-01 20:22] bartobri commented on #2
@kryptonianson Look in nms.c and play around with the speed settings and see if you can get what you want. Just change the number for the setting and type 'make' again.

#define TYPE_EFFECT_SPEED    4
#define JUMBLE_SECONDS       2
#define JUMBLE_LOOP_SPEED    35
#define REVEAL_LOOP_SPEED    100

[2016-05-01 21:13] bartobri commented on #2
@jakimfett Just committed changes to support the -a command line option which skips the first pause and auto-starts the decryption effect. Give it a try.

ls -l | nms -a

[2016-05-01 21:21] bartobri commented on #2
@apjanke Just committed changes to support the -v command line option which prints the version number.

[2016-05-02 01:46] apjanke commented on #2
Works as expected for `-v`.

[code]

Thanks!

[2016-05-02 19:10] bartobri commented on #2
All issues addressed. Closing.

[2016-05-02 19:10] #2 closed

[2016-05-06 21:14] korczis opened #18 "Add parameter for setting speed"
It will be nice to have parameter which can be used for tweaking "processing" speed.

[2016-05-06 21:20] bartobri commented on #18
Hi @korczis. There are several speed parameters in the code (nms.c):

#define TYPE_EFFECT_SPEED    4
#define JUMBLE_SECONDS       2
#define JUMBLE_LOOP_SPEED    35
#define REVEAL_LOOP_SPEED    100

These can be tweaked and recompiled to your liking.

Adding parameters for each setting would be messy. The goal of the project is to match the speed shown in the movie.

Thanks,
Brian

[2016-05-06 21:20] #18 closed

[2016-05-11 21:00] bartobri commented on #7
I agree that supporting non-ascii characters on the input side would be ideal. I will be looking for a solution to this soon.

[2016-05-12 19:45] bartobri commented on #7
Okay, I built support for UTF-8 input. @jdbevan Can you please run:

cd no-more-secrets
git pull origin master
make
sudo make install

... and let me know if it is fixed on your end?

Thanks,
Brian

[2016-05-13 02:39] bartobri commented on #8
@tuanhtrng I've just pushed support for UTF-8 characters. Can you please test and let me know if it works now?

[2016-05-13 08:45] jdbevan commented on #7
Thanks @bartobri - I've hit a few problems...

I'm running on OS X and I don't have the ncursesw.h file - I've got ncurses installed with wide character support and having had a peek through the files that are installed I'm fairly confident that the ncurses.h file on my machine points to the ncursesw.h file.

Secondly, I'm running on x86_64 architecture, so when I changed the Makefile to use not l

[2016-05-13 16:55] bartobri commented on #7
This looks like there is something wrong with your ncurses installation. These errors are are similar to what I would expect to see if you were missing the ncurses.h header file and library (not ncursesw), which my program still uses. Along with the ncurses installation, you also need to have ncurses wide character support (ncursesw) installed which is either included with the original ncurses pac

[2016-05-16 17:18] bartobri commented on #7
Did some googling around there there seems to be a lot of people saying that if you install xcode along with the command line utilities (part of xcode?) then you should have the ncurses library.

You can also try installing ncurses via homebrew by doing the following:

brew install ncurses
brew doctor
brew link ncurses # might require a --force

Just throwing out possibilities. If you happen to fi

[2016-05-16 17:18] bartobri commented on #8
No response. Closing.

[2016-05-16 17:18] #8 closed

[2016-05-17 12:30] jdbevan commented on #7
I managed to solve it! I hadn't specified the correct lib directory for ncurses. I had installed ncurses via: `brew install ncurses`

I just needed to change the Makefile to look like this (for my homebrew configuration):
[code]

[2016-05-19 14:12] bartobri commented on #7
Okay great. Glad it is all working and that there is nothing wrong in the code. I am going to assume that the package maintainer for brew has to routinely override these directories when making packages, and will do so for no-more-secrets after I tag another release that includes UTF-8 support.

Closing issue.

[2016-05-19 14:12] #7 closed

[2016-05-23 07:55] Hearen opened #23 "Cannot be configured properly in OS X EI Capitan"
After installing ncurses via *brew install homebrew/dupes/ncurses*, I ran 'make' in the working directory but it still turned out the following error

ld: library not found for -lncursesw
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [nms] Error 1

and there is no <font color="#ff0000">ncursesw</font> as the installation guide pointed out. B.T.W. I've al

[2016-05-23 08:02] Hearen commented on #23
There is a link for this issue: https://rhardih.io/2010/04/using-ncurses-in-c-for-text-user-interfaces-featuring-xcode/, from which we can handle this by

then everything will be just cool!

then the generated binary executable files are lying in bin as expected.

[2016-05-23 08:03] #23 closed

[2016-07-04 15:50] ilovezfs opened #24 "libncurses regression on macOS"
https://github.com/bartobri/no-more-secrets/commit/9d7ac87af302ebe913190b56f10de1bfe3032ba1 has introduced a regression on macOS where the library is named libncurses not libncursesw:

[code]

[2016-07-06 21:56] bartobri commented on #24
Hi @ilovezfs, ncursesw is needed to support wide characters. I don't have Mac OS X. Is this library not available on Mac? Every linux machine I tested has it. Seems like Mac should have it as well...

[2016-07-06 21:59] bartobri commented on #24
Perhaps ncursesw has to be installed as a dependency first?

[2016-07-09 01:33] c256 commented on #24
The ncurses that comes standard in macOs has wide character support built in. Put another way, ncurses on macOS (from the OS) *is* ncursesw. The change needed is to the Makefile (use -lncurses instead of -lncursesw), not to the source.

Hope this helps.

[2016-07-09 18:13] bartobri commented on #24
@ilovezfs @c256 I just pushed a change 0496a3f. Can you please test it and let me know if it fixes this issue? If so, i'll tag a new release. Also let me know if you have any concerns.

Thanks!

[2016-07-10 07:08] c256 commented on #24
That works for me on 10.11.5. Thanks!

[2016-07-13 01:16] bartobri commented on #24
Okay thanks. I'll consider this issue fixed. I tagged a new release, v0.2.1, which contains this fix.

[2016-07-13 01:16] #24 closed

[2016-07-14 07:57] ilovezfs commented on #24
@bartobri Yep, looks good. I was just able to remove both patches from the formula. However, one minor issue did come up:
[code]

[2016-07-14 13:00] bartobri commented on #24
@ilovezfs Woops. I forgot to update the version number in the code. This has been fixed now.

Thanks.

[2016-07-14 13:02] ilovezfs commented on #24
no problem!

[2016-07-14 13:07] ilovezfs commented on #24
@bartobri : so much better https://github.com/Homebrew/homebrew-core/pull/2959

:)

[2016-09-17 21:56] tomer opened #26 "Could be funny if it'd show some CJK characters instead of plain old ASCII"
a la Matrix style :sunglasses:

[2016-09-18 12:17] cdrrazan opened #28 "Gets stucked when running on command"

[2016-09-18 12:22] #28 closed

[2016-09-18 14:18] bartobri commented on #26
Hi tomer. The intent is to copy the effect used in the movie.

[2016-09-18 14:18] #26 closed

[2016-09-18 17:21] elnomade opened #30 "No animation neither 'decryption' effect (openSUSE)"
I followed the instructions to install no-more-secrets from source and from package. Same results for both. When you run sneakers or nms you get the 'encrypted' characters and nothing else, no animation and no decryption effect.
No compilation error (from source) neither any installation error (from package).

OS: openSUSE Tumbleweed.

[2016-09-18 17:24] bartobri commented on #30
Hello. As noted in the README file:

You can also use the -a command switch to auto-start the encryption effect.

`ls -l / | nms -a`

Let me know if you continue to have problems.

[2016-09-18 17:24] #30 closed

[2016-09-18 19:14] ehartford opened #31 "if it "decrypts" one character it should "decrypt" every instance of that character"
repro steps:

echo thing1 thing2 thing3 | nms

expected:
  the t's all "decrypt" at the same step, the h's all "decrypt" at the same step, etc.

observed: nope.

![image](https://cloud.githubusercontent.com/assets/1117701/18618325/68ffff64-7ddc-11e6-9ce4-28caafbb14bb.png)

[2016-09-18 19:21] bartobri commented on #31
Hi and thanks for your interest.

I don't think your expectation is valid. All characters are meant to decrypt at their own individual pace just as it appears in the film. Closing this issue.

Thanks.

[2016-09-18 19:21] #31 closed

[2016-09-18 21:03] RogerThiede commented on #31
I'm a big fan of Sneakers.  However I don't know the details of how the effect was designed in the movie.  Can you cite evidence in how no-more-secrets was designed?  Possibly add those details to the README.md?

[2016-09-18 21:10] bartobri commented on #31
Hi Roger.

I don't claim to have insider knowledge of how the effect was created for
the film, nor use any such information for my project. My project is simply
a visual recreation of what we see in the film.

Thanks,
Brian

On Sun, Sep 18, 2016 at 5:03 PM, Roger Thiede <notifications@github.com>
wrote:

[2016-09-18 23:52] elnomade commented on #30
Thanks for your quick answer.
I tested this tool in different OSes, OpenSUSE is working fine, but OSX El Capitan is having some issues. I will create a new issue.

[2016-09-18 23:54] bartobri commented on #30
Have you followed the documented install procedure for OS X?

https://github.com/bartobri/no-more-secrets/blob/master/INSTALL.md#mac-osx

This is the only approved method for installing on Mac at this time.

On Sun, Sep 18, 2016 at 7:52 PM, Leonardo Ludueña <notifications@github.com>
wrote:

[2016-09-19 00:03] elnomade opened #32 "Switches -a and -f failing in El Capitan"
I followed the instructions to install no-more-secrets from source and from package (brew). Same results for both. When you run nms you get the 'encrypted' characters and nothing else, no animation and no decryption effect even when -a switch is provided.
switch "-f colour"  is also failing, no colour changing in fonts, it keeps default blue.
I tried both options in different terminal settings, in

[2016-09-19 00:07] bartobri commented on #32
Okay, open an issue for OS X. Just stick to installing it from brew as that
is the only approved install method.

Please include the exact commands you are typing that aren't working,
including the data you are piping in to nms, and what the result is.

Thanks

On Sun, Sep 18, 2016 at 8:03 PM, Leonardo Ludueña <notifications@github.com>
wrote:

[2016-09-19 00:26] elnomade commented on #32
Command Line Options

Use the -a option to set the auto_decrypt flag. This will automatically start the decryption effect, eliminating the need for the user to press a key to start it.

ls -l / | nms -a

Use the -f option to set foreground color to either white, yellow, black, magenta, blue, green, or red - this is blue by default.

ls -l / | nms -f green

[2016-09-19 00:27] elnomade commented on #32
I tried the examples provided in the documentation.

[2016-09-19 03:01] bartobri commented on #32
This is expected behavior. The color of the font is not changed until after the characters are decrypted, not before. If you are unable to start the decryption effect, then you will not see the color setting applied.

nms has no background color setting. This is controlled by your terminal settings.

[2016-09-19 03:03] bartobri commented on #32
Ignoring the font color issue, the only issue that needs to be tested here is starting the decryption effect for OS X El Capitan.

[2016-09-19 03:13] elnomade commented on #32
The color of font is not changed when the animation and decryption effect ends. It always the default blue.

[2016-09-19 03:16] bartobri commented on #32
You said in your original issue description that you can not get the encryption effect to start:

Are you saying now that it is starting?

[2016-09-19 03:16] elnomade commented on #32
"nms -a" doesn't start automatically in OSX, I checked that it works in openSUSE. I can create a screen capture video tomorrow, showing these issues.

[2016-09-19 03:18] elnomade commented on #32
switch "-a" is not changing default behavior, even when it doesn't start automatically, you still can start it using a key

[2016-09-19 03:22] bartobri commented on #32
I am closing this issue due to it being unclear and self-contradictory.

Please, when submitting an issue, be clear, concise, and consistent, or else I can not help.

[2016-09-19 03:22] #32 closed

[2016-09-19 03:38] ZeroChaos- commented on #9
I can't reopen this issue but this can be solved with a pretty simple combination of things.

1.) store input
2.) act on input (doing cool stuff)
3.) drop ncurses and just echo out the stored input

This would only work if you formatted the data in the same way as the input (ls for instance shows up multiline in nms but one line without) and drop the blue to stick with the normal input colors.

ju

[2016-09-19 03:40] ZeroChaos- commented on #9
might be a bit hard since ncurses clears the screen, I'm not sure how to deal with that except to actually clear the screen when returning and before echoing out the input.

[2016-09-19 03:48] elnomade commented on #32
https://youtu.be/QUNjFaupQeQ

[2016-09-19 04:00] elnomade opened #34 "Switches -a and -f not working in El Capitan"
OS: Mac OS X El Capitan.
Installation: brew

Switches -a and -f not working as described in documentation.

-a should automatically start effect
-f should change font color

How to reproduce:
* Install no-more-secrets from brew, open a terminal, pick "Basic" from settings,
type: brew install no-more-secrets

* type: ls -lh /opt | nms -a   (application will wait for a key press instead of automatic

[2016-09-19 15:04] shadycuz opened #35 "Using it for the MOTD banner"
So I thought it would be cool to invoke this upon shh login. It works kinda, the problem I have is it doesn't like my banner for some reason and I don't like the blue text. Maybe in the future you can make an option to let it keep the terminal fg colors?

[code]

I only see the bottom text and they have huge spaces in between the lines where there shouldn't be. Hold the phone, I got it work, had t

[2016-09-19 15:12] stephenwade opened #36 "Can’t install in macOS Sierra"
Here is a gist with the command-line output of `brew install -v no-more-secrets` (`nms.log`) and the log from make (`01.make`):

https://gist.github.com/de65d87dceed4ba87f66ba8fe059b1da

[2016-09-19 17:10] bartobri commented on #36
Hmmm... Couple things.

Sierra isn't officially released yet. Once released, the homebrew maintainers may need some time to iron out installation issues caused by the upgrade.

If after a week or two the installation is still failing on Sierra, after making sure your version of homebrew is updated, open an issue with the Homebrew/homebrew-core project. This is the project responsible for the no-mo

[2016-09-19 17:12] bartobri commented on #36
Labeling as invalid and holding for now until port maintainers have had some time with Sierra.

[2016-09-19 17:22] bartobri commented on #35
I believe i looked in to it once and found that the pipe removed the color characters so that nms had no knowledge of them. But it is on my list to look at again. Perhaps in the next version. I agree, it would be nice.

There is a command line option to change the foreground color. See the README file.

[2016-09-19 17:22] #35 closed

[2016-09-21 22:33] stephenwade commented on #36
Got the problem solved (Homebrew/homebrew-core#5080). Thanks!

[2016-09-21 22:33] #36 closed

[2016-09-22 01:00] stephenwade commented on #36
In case anyone else comes by wondering about this, the problem was that I didn't have the command-line tools installed. `sudo xcode-select --install` installed the tools and fixed the problem.

[2016-10-26 13:18] IWriteThings commented on #34
Just built from source in El Capitan 10.11.6.

Fully functional with both -a and -f. Perhaps the brew install needs some work?

[2016-10-26 17:02] bartobri commented on #34
Thanks for helping, @IWriteThings

Closing this issue.

[2016-10-26 17:02] #34 closed

[2016-10-28 21:40] SortaCore opened #38 "Doesn't support MinGW"
Can support be added, or is it impossible due to design?

[2016-10-29 22:07] bartobri commented on #38
Hello. I only support unix-based operating systems at this time. Feel free to for this project and get it working with windows. I will gladly link to it from my project.

[2016-10-29 22:07] #38 closed

[2016-10-30 09:54] freiit opened #39 "Please refer to the docker image"
Sad that you closed [the pull request](https://github.com/bartobri/no-more-secrets/pull/37). I think, things should stick together.

Anyways, I moved the Dockerfile into a new [github repository](https://github.com/freiit/no-more-secrets-docker) and pushed it to hub.docker.com [here](https://hub.docker.com/r/freiit/no-more-secrets-docker/).

Would you mind to refer to it, so people can pick up on

[2016-10-30 12:23] bartobri commented on #39
Hello again. I really do appreciate your interest but there i no need to support docker images by including an extra file specifically for docker. Supporting specific docker configurations is outside of the scope of this project. Those who know how to use docker can simply follow the existing install instructions to run nms without the need for a superfluous docker file.

Here is an example of how

[2016-10-30 12:23] #39 closed

[2016-10-30 12:39] bartobri commented on #39
I've linked to your repository form the INSTALL doc for those who may be interested in a dockerfile.

[2016-12-03 14:55] intrd opened #41 "Can't install on Kali2 machine.."
Hey man,
i've trying to install on my Kali2 machine and looks like i need to downgrade my 2.19-18+deb8u3 to libc6-dev=2.19-18  in order to compile your program..

did u know another solution?

this is the output..
[code]

[2016-12-03 15:02] bartobri commented on #41
Hello. It look like you have an issue installing ncurses (not no-more-secrets) on your machine. You should try contacting the port maintainer for ncurses for a solution.

Thanks,
Brian

[2016-12-03 15:02] #41 closed

[2016-12-12 16:00] bartobri opened #42 "Background Color"
Create option to set background color using the bkgd() function of curses.

[2017-02-19 09:30] ilovezfs opened #46 ""make install" target broken on macOS in 0.3.1"
[code]

This was not broken in 0.3.0.

Build log here: https://bot.brew.sh/job/Homebrew%20Core/16712/version=sierra/consoleText

[2017-02-19 15:23] bartobri commented on #46
@susnux Can we install the man pages without the use of the -t option? This is causing an issue on OSX.

[2017-02-19 16:27] susnux commented on #46
Of cause, if you do not mind I create a pull request fixing this.

[2017-02-19 17:11] bartobri commented on #46
@ilovezfs Can you confirm this is fixed? Do you need me to create another release?

[2017-02-19 17:45] ilovezfs commented on #46
@bartobri yes, but I've discovered a new bug now :)
[code]

[2017-02-19 17:46] ilovezfs commented on #46
A new release also with the matching version number would be great.

[2017-02-19 18:35] bartobri commented on #46
Woops! That's not the first time I've forgotten to increment the software version number to match a new release. Sorry about that.

I've created a new release (0.3.2) with matching version number. Please confirm all is working as expected.

[2017-02-19 19:05] ilovezfs commented on #46
Looks like we're good: https://github.com/Homebrew/homebrew-core/pull/10142

[2017-02-19 19:08] bartobri commented on #46
Great! Thanks!

[2017-02-19 19:08] #46 closed

[2017-02-19 19:08] ilovezfs commented on #46
Thanks for the quick turnaround! New version shipped.

[2017-03-01 06:21] maxwellgerber commented on #42
PR made [here](https://github.com/bartobri/no-more-secrets/pull/48)

[2017-03-01 22:44] agucova opened #49 "Foreign characters"
Hey!
It seems that characters like the tilde or a ñ (from spanish), keep their character instead of being revealed.
<img width="420" alt="noooo" src="https://cloud.githubusercontent.com/assets/4694408/23484850/76289514-feb7-11e6-9ba8-22983e01e519.png">

[2017-03-01 23:00] bartobri commented on #49
Hi @agucova

I can not reproduce this issue. Can you provide the exact text you are using as input? Also, did you compile this from source? If so, did you install the default program or did you choose the ncurses version?

- Brian

[2017-03-03 14:25] bartobri commented on #49
No response. Can not reproduce. Closing this.

[2017-03-03 14:25] #49 closed

[2017-03-08 09:38] neuhaus opened #50 "Extra character(s) for 1 and 2 character lines"
If you have an output line consisting of

    .:

the nms tool will add an extra "r" character on the line. During the animation the "r" will remain constant. It will not disappear after the "decryption".

Try it using

    echo ".:" | ./bin/nms

PS: Quick testing reveals that I get this error for all lines consisting of two characters. For lines that only contain one character, I get two bogus "r

[2017-03-08 21:22] bartobri commented on #50
Fixed in commit ff5fbbd7

- Brian

[2017-03-08 21:22] #50 closed

[2017-04-22 18:41] bartobri commented on #42
After some investigation, there is no satisfactory way to set the background color for the terminal. Only individual characters, which creates a disjointed look. I am closing this request.

[2017-04-22 18:41] #42 closed

[2017-09-20 05:52] dcb314 opened #54 "src/nmstermio.c:162: newbie error with EOF ?"
src/nmstermio.c:162]: (warning) Storing getchar() return value in char variable and then comparing with EOF.

The return value from getchar should be stored in an int. See http://c-faq.com/stdio/getcharc.html
for details.

[2017-09-20 12:38] bartobri commented on #54
Newbie comment aside, thanks for finding this. This is fixed with commit 39c02de5. The fix has been pushed to the master branch.

[2017-09-20 12:38] #54 closed

[2017-11-06 03:28] actble opened #55 "Why that I always init-（year-month）-error?"
That I can` ls | nms`, but it looks not greate； and then it will appear Erorr（That can't init (year-month)） when i use `ls -a | nms`

[2017-11-06 16:38] someinternetguy opened #56 "No an issue..."
..but I just wanted to say that this is such a cool program..! lots of fun! thanks. #

[2017-11-06 23:20] bartobri commented on #56
You're welcome!

[2017-11-06 23:20] #56 closed

[2017-11-06 23:26] bartobri commented on #55
@actble I don't understand the issue. Can you please copy and paste the complete console output from when you type the command to when you get an error? Also, what operating system are you running?

[2018-01-02 14:23] hilbrichtsoftware opened #57 "Feature Wish: Parameter to set "decryption" speed"
It would be very nice to have an option to specify how long it should take. Maybe even two parameters: How long until the scrambled chars are written and then how long it takes to decrypt. With 0 being instantaneous.

[2018-01-05 16:23] bartobri commented on #57
Hi. Thanks for your interest in my project.

This requests has come through a couple times, and each time I decline to implement it on the basis that it is the intent of this project to recreate what is in the film. This applies to the timing of the decryption sequence.

However, if you wish, you can modify the timing of the decryption sequence in the source code by adjusting the value of the foll

[2018-01-05 16:23] #57 closed

[2018-01-07 20:00] homeworkprod commented on #30
Oh my, I did overlook that one, too, and assumed a bug :(

[2018-01-07 20:03] homeworkprod commented on #1
For the record: The `nms` binary now supports the `-a` option to not wait for a key press before the animation starts.

[2018-01-26 12:23] afarber opened #58 "Wront phrase"
The correct phrase from the Sneakers movie is:

Setec Astronomy -> Too many secrets

(and not "No more secrets")     :)

[2018-01-26 14:58] bartobri commented on #58
You are correct that the anagram spells "too many secrets" but the phrase "no more secrets" is the title of the scene where we first see the effect. It is what Bishop says at the end of the scene when he realizes what the black box can do. The phrase is also said a few other times throughout the movie in reference to it's decryption capabilities.

[2018-01-26 14:58] #58 closed

[2018-04-30 09:53] ge0rg opened #59 "support for ANSI-colored input"
Hi,

it would be great if nms would detect when input comes with ANSI color sequences, and would keep the original colors in that case. An example would be `ls -al --color=yes`

[2018-06-12 06:56] fCorleone opened #60 "A global buffer overflow has been found when using address sanitizer"
=================================================================
==23200==ERROR: AddressSanitizer: global-buffer-overflow on address 0x00000040b5c5 at pc 0x7f9f5fb686a5 bp 0x7ffc2f6451f0 sp 0x7ffc2f644998
READ of size 8 at 0x00000040b5c5 thread T0
    #0 0x7f9f5fb686a4  (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x446a4)
    #1 0x4039e9 in nmstermio_get_cursor_row src/nmstermio.c:267
    #2 0x405c44

[2018-06-12 22:02] bartobri commented on #60
Thanks. I was able to reproduce by adding -fsanitize=address to the CFLAGS argument in the Makefile.

This is an interesting issue. It seems to be complaining about the following line:

[code]

I don't think there are any buffer overflow issues with my code here. It seems as if it is something deeper in the write() function, since the variable it calls out is not part of my code. I am not familiar

[2018-06-13 17:02] byamj opened #61 "'sneakers' command only works once"
~~Executing the `sneakers` command works the first time, but running it a second time in the same iTerm session throws `Abort trap: 6`. Quitting and restarting iTerm allows it to be run one more time before throwing the same error.~~

This based on window size, I wasn't careful when attempting to reproduce.

Executing the `sneakers` command works with window width 242 but not 243 and throws `Abort

[2018-06-13 17:39] bartobri commented on #61
@byamj , do you experience this issue with a smaller terminal size? I think it is the sheer size of your terminal that is causing my program to write past the buffer limit. It's a legit bug on my end. But first let me know if you can reproduce with smaller terminal sizes.

Thanks.

[2018-06-13 18:23] byamj commented on #61
With a window height of 2, 246 is the widest the window can be without causing an error. Window height 60 also works at 246 width but not 247 so I think that's the magic number.

[2018-06-13 23:05] bartobri commented on #61
This is fixed in commit 56df5f3d and pushed to the master branch.

@byamj can you pull the latest code from the master branch, recompile, and confirm that it is fixed for you?

Thanks!

[2018-06-15 13:43] byamj commented on #61
Confirmed to be fixed at width 247 through 270/fullscreen.

[2018-06-15 13:43] #61 closed

[2018-08-05 08:32] QuLogic commented on #60
`cmd` is `char*`; `sizeof(cmd) == 8` (on 64-bit systems), but the string to write is 4 characters + NUL. I assume the trailing NUL should not be written either, so this should probably be `strlen(cmd)`, or the type should be changed.

[2018-08-05 19:34] QuLogic opened #64 "Please indicate GPL version"
Everything states this is "under the terms of the GPL License", but it does not state a version. The `LICENSE` is GPLv3, but it is not clearly stated whether the code is under "v3" or "v3 or later".

[2018-08-05 19:37] QuLogic commented on #64
I recommend using the [full text of the suggested license notice](https://www.gnu.org/licenses/gpl-howto.html).

[2018-08-05 23:55] bartobri commented on #64
Everything says to see LICENSE for details. The LICENSE file clear states GPLv3. I am not sure what is causing your confusion. Closing this.

[2018-08-05 23:55] #64 closed

[2018-08-06 00:03] bartobri commented on #60
@QuLogic You are right! I shouldn't have missed that. I see your pull request where you changed the pointer to a character array, but I prefer your solution to change sizeof to strlen, so I will implement that instead.

[2018-08-06 00:06] bartobri commented on #60
This issue is fixed in commit 1c8f8808

[2018-08-06 00:06] #60 closed

[2018-08-06 20:38] Shaav commented on #59
I second this! Or at least strip them out if you find them in the output of the command. Looks pretty terrible with them just being displayed:

![screenshot from 2018-08-06 14-37-10](https://user-images.githubusercontent.com/1418184/43739713-3c9828c6-9986-11e8-9850-aa45082d751c.png)

(Ignore the discoloration on the screenshot—sometimes my screenshotter captures the selection highlight as well).

[2018-10-26 20:17] Taavettiii opened #66 "Error while "make sneakers""
I can't seem to get the `make sneakers` command to work.

I am using your [instructions](https://github.com/bartobri/no-more-secrets#download-and-install)

Here's the output of the command:
`[taavi@laptop no-more-secrets]$ make sneakers
cc -Wextra -Wall -O2 -o obj/sneakers.o -c src/sneakers.c
src/sneakers.c: In function ‘main’:
src/sneakers.c:183:25: warning: pointer targets in passing argument 1

[2018-10-26 20:53] bartobri commented on #66
This is my fault. I made some module changes and didn't update the sneakers program. This should be fixed now. Please pull the latest code from master (git pull origin master) and try running Make nms again. Or just delete everything and redo the install instructions.

[2018-10-26 20:53] #66 closed

[2019-02-03 13:31] utgarda commented on #59
And a separate thank-you for packing it for Arch! The possibility of installing it instantly is worth a hundred enticing screencasts!

[2019-02-08 19:37] LemonHeadOnGit opened #67 "adding | nms to the end of the command "ls -lahR" does the same thing as ls -a | nms"
Hi there.
So I tried using the | nms tool after the huge and amazing command, "ls -lahR" (which lists all the directories on the computer), and I found out it gives the exact same output as "ls -a | nms". Is this something in the code that limits it, or is there something wrong?
Thanks
~L

[2019-02-08 19:54] bartobri commented on #67
Hi @LemonHeadOnGit

The code intentionally truncates input to fit the height of the terminal.

Thanks for the interest.

- Brian

[2019-02-08 19:54] #67 closed

[2019-02-08 20:26] LemonHeadOnGit commented on #67
oh ok thanks

[2019-04-20 16:29] Skarlett opened #73 "No transparency support?"
running the application creates a custom background (black) and then runs the text manipulation. You show on your example that it can use transparent terminals - This doesn't seem to be the effect for me.

Terminal emulator - gnome

[2019-04-21 12:47] bartobri commented on #73
Hi @Skarlett

Transparency is controlled by your terminal emulator, not the programs running within it. If transparency is not working in your terminal you should check the terminal settings. This program does not have the ability to change background colors. It can only change text color (if you choose the option). Any issues you have with the background color must be coming from your terminal.

[2019-04-21 12:47] #73 closed

[2019-06-12 08:00] YtvwlD opened #74 "fails to build with clang 8"
I tried to build this program on my phone and got the following error:

[code]

It worked on my laptop:

[code]

So, I tried using clang there:

[code]

So, I think the difference here is the version of clang.

[2019-08-09 07:41] cheeezeburgers commented on #74
I have the same experience. On my Mac standard procedure is working. On MINT I had to install clang and it worked only with version 6.

On my Android with Termux it was not possible to make with gcc or clang because only version 8 ist available.

[2019-08-09 07:55] YtvwlD commented on #74
I guess the solution would be to simply rename the variable, but I didn't try that. (It compiled on Termux for me after I removed this line.)

[2019-08-09 12:57] bartobri commented on #74
Thanks for the info, guys. I have not tried to compile with clang but i'll try and see what I can do.

[2019-08-09 15:40] cheeezeburgers commented on #74
Can you elaborate? I'm not yet so experienced bash. What exactly did you do?

[2019-08-10 18:57] cheeezeburgers commented on #74
@YtvwlD Can you elaborate? I'm not yet so experienced bash. What exactly did you do?

[2019-08-10 19:03] YtvwlD commented on #74
@cheezeburgers This has nothing to do with Bash. I opened the file in a text editor and put `//` in front of the line.

[2019-08-15 11:48] cheeezeburgers commented on #74
In which line specific? I // the line it tells me is the issue but it fails even harder after that with more errors.

[2019-09-06 08:17] helsmy commented on #74
After goolge the usage of freopen,  I found a solution. I am not very sure about it. I even not read the code that call the function.
It's very simple to fix it.
1. Just delete `stdin = ` and you can compile it successfully.
2. Then, change `prefix ?= /usr/local` in makefile to `prefix ?= /data/data/com.termux/files`.
3. make & make install as usual

[2019-12-30 03:23] Mhowser commented on #59
any update to this?

[2019-12-30 14:58] bartobri commented on #59
@Mhowser

No updates. This is a fairly low priority item.

Thanks,
Brian

[2020-05-21 01:08] reesericci opened #75 "Speed flag for auto-decrypt"
Is there any way you can implement a speed flag for auto-decrypt? I'd like to be able to make the "decryption" faster.

[2020-05-21 13:40] bartobri commented on #75
Hi @reesericci

Thats not on my list of to-dos. The intent is to match the speed of the movie. But if you want, you can decrease (not increase) the JUMBLE_LOOP_SPEED and REVEAL_LOOP_SPEED settings in nmseffect.c before running sudo make install and that will increase the decryption speed. Play around with them until you get what you want.

Thanks for the interest.

[2020-05-21 13:40] #75 closed

[2020-11-22 17:07] rockedsocks opened #77 "Extra characters"
Whenever I do anything involving the text decryption, it always adds a few extra characters on the end. The characters are both encrypted and decrypted. Usually the decrypted ones are  all the same letter if they are on the same line. Though I have noticed that when using lolcat (changes a command's output to be rainbow) it seems to make it instead of change the same line, create a new line for ea

[2020-11-22 19:07] bartobri commented on #77
Hello. Please provide more details. What OS are you using? What terminal app are you using? What is the full command you are typing? A screenshot would also be helpful.

[2020-11-26 00:09] bartobri commented on #77
No response from reporter. Closing.

[2020-11-26 00:09] #77 closed

[2021-01-30 00:07] #74 closed

[2021-09-24 18:07] mikelolasagasti opened #82 "New release"
There have been some PRs merged since last release in 2017. Would it be possible to have a new release so downstream doesn't have to carry patches?

[2021-09-24 19:00] bartobri commented on #82
Good call. Didn't realize it had been that long. Just tagged a release: https://github.com/bartobri/no-more-secrets/releases/tag/v1.0.0

[2021-09-24 19:05] bartobri commented on #82
Just tagged another release because I didn't update the version inside the code to match the github release. Use this one: https://github.com/bartobri/no-more-secrets/releases/tag/v1.0.1

[2021-09-24 19:05] #82 closed

[2021-10-02 02:55] misuchiru03 opened #83 "musl builds failing"
Attempting to cross-compile to any `musl` arch results in the following error:

`src/nmstermio.c: In function 'nmstermio_set_terminal':
src/nmstermio.c:299:9: error: assignment of read-only variable 'stdin'
  299 |   stdin = freopen("/dev/tty", "r", stdin);
      |         ^
make: *** [Makefile:37: obj/nmstermio.o] Error 1
=> ERROR: no-more-secrets-1.0.1_1: do_build: '${make_cmd} CC="$CC" CXX="$CX

[2021-10-02 11:34] bartobri commented on #83
Hi @misuchiru03 . Assuming you modified the Makefile and caused this compile error, is this an issue with my code then? Using the gcc compiler does not cause any errors. I dont know how I can code in support for two different compilers when they each want something different returned from freopen(). It seems I can only support one (gcc).

You can fix this by applying the following diff and recompi

[2021-10-09 17:48] immense055 commented on #59
61f1f6cfc42865a4ac17750414a90e6a83fb7018

[2021-10-15 18:37] ifurther opened #84 "Maybe should add LDFLAGS"
Hello I built it for termux, and I should modify the "LDFLAGS". And some linker may use it

[2021-10-16 08:42] ifurther commented on #84
Sorry, I modified the Makefile, and [the link](https://github.com/termux/termux-packages/blob/9314e6cc419cf0fa6382d72697ec8a26bcb16c16/packages/no-more-secrets/Makefile.patch) is here.
I think it just add LDFLAGS for some specify setting

[2021-10-28 01:01] n0kovo opened #85 "Speed option"
I would like to suggest a command line option for setting the speed of the effect. For example how many seconds the effect would take to finish.

[2021-10-28 14:40] #85 closed, assigned to nobody

[2022-01-26 20:49] #84 closed

[2022-02-16 00:45] CES-2005 opened #87 "Piping an echo command into nms causes a segmentation fault (Core dumped)."
I recently installed Arch Linux. This is not my first time doing so, but I am facing a problem when piping stdin into nms. When I run `nms` and then type input, the program works as expected. However, when I try `echo "test" | nms`, my terminal prints "Segmentation fault (core dumped)". My terminal then has the text `1R` despite my not typing it. Sometimes it have a semicolon instead: `;1R`

[2022-02-16 13:33] CES-2005 commented on #87
After some testing, it turns out this issue only occurs when chrooted. When I run the command on the actual machine, it works correctly. I get the segmentation fault when I run `nms` while chrooted into the Arch system from my other Arch installation.

[2022-09-13 12:57] wael444 commented on #59
still facing this issue for whatever reason